
body {
    padding-top: 70px;
}

.feeditem-id {
    display: none;
}

.feeditem-created-at {
    margin: 0px 8px;
}

/* 
 * BEGIN -- non-responsive navbar
 * http://getbootstrap.com/examples/non-responsive/
 */

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0 10px;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/*** END non-responsive navbar ***/
