<!DOCTYPE html>
<html>
  <head>
    <title>jQluster samples</title>
  </head>
  <body>
    <ul>
      <!-- <li><a href="single.html">Single Page</a></li> -->
      <li>Simple Get</li>
      <ul>
        <li><a href="get_simple.html?my_id=alice&target_id=bob">Alice</a></li>
        <li><a href="get_simple.html?my_id=bob&target_id=alice">Bob</a></li>
      </ul>
      <li>Chat example</li>
      <ul>
        <li><a href="chat.html?is_alone=1">Single mode</a></li>
        <li><a href="chat.html?is_alone=0">Group mode</a></li>
      </ul>
      <li>Readiness callback example</li>
      <ul>
        <li><a href="ready.html?my_id=alice">Alice</a></li>
        <li><a href="ready.html?my_id=bob">Bob</a></li>
        <li><a href="ready.html?my_id=carol">Carol</a></li>
      </ul>
  </body>
</html>

