<ul class="nav navbar-nav">
  <li><a class="glyphicon glyphicon-chevron-left" id="headlines-prev-page" href="#"></a></li>
  <li><a class="glyphicon glyphicon-chevron-right" id="headlines-next-page" href="#"></a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a class="glyphicon glyphicon-remove headlines-finish" href="#"></a></li>
</ul>
