%% ## args: page
<ul class="nav navbar-nav">
  <li><a class="glyphicon glyphicon-chevron-left [% IF page == 0 %]disabled[% END %]" href="[% IF page == 0 %]#[% ELSE %]?page=[% page - 1 %][% END %]"></a></li>
  <li><a class="glyphicon glyphicon-chevron-right" href="?page=[% page + 1 %]"></a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a class="glyphicon glyphicon-remove headlines-finish" href="#"></a></li>
</ul>
