[% WRAPPER 'layout.tt' WITH title = "Multiscreen Reader", scripts = ["display.js"] %]
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Multiscreen Reader</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10" id="feeditem-display">
    </div>
  </div>
</div>
[% END %]
