[% WRAPPER 'layout.tt' WITH title = "Multiscreen Reader", scripts = ["display.js"] %]
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Multiscreen Reader</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>Clicked Item</h1>
    <p id="clicked-item"></p>
  </div>
</div>
[% END %]
