%% ## args: items, page
[% WRAPPER 'layout.tt' WITH title = "Headlines (page "~ (page + 1) ~")", scripts = ["headlines.js"] %]
[% INCLUDE "component_headlines_navbar.tt" WITH page = page %]
<div class="container">
  [% INCLUDE "component_headlines.tt" WITH items = items %]
</div>
[% END %]
