<!doctype html>
<html>
  <head>
    <title>Canvas Painter Demo</title>
  </head>
  <body>
    <ul>
      <li><a href="single.html">Single Page</a></li>
      <li>Simple Get</li>
      <ul>
        <li><a href="get_simple.html?my_id=alice&target_id=bob">Alice</a></li>
        <li><a href="get_simple.html?my_id=bob&target_id=alice">Bob</a></li>
      </ul>
    </ul>
  </body>
</html>

