<!DOCTYPE html>
<html>
  <head>
    <title>[% title %] - jQluster demo</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/lib/shjs/sh_emacs.css" />
    <link rel="stylesheet" type="text/css" href="/css/mystyle.css" />
    <script src="/lib/jquery.js"></script>
    <script src="/lib/jquery.ellocate.js"></script>
    <script src="/lib/jquery.xpath.js"></script>
    <script src="/lib/shjs/sh_main.js"></script>
    <script src="/lib/shjs/sh_javascript.js"></script>
    <script src="/jqluster.js"></script>
    <script>
$(function() {
    $("body").append('<h2>Code</h2><pre class="sh_javascript" id="code-display"></pre>');
    $("#code-display").text($("#code").text());
    sh_highlightDocument();
});
    </script>
  </head>
  <body>
[% content %]
  </body>
</html>



