<!DOCTYPE html>
<html>
<head>
  <title>Conventional Single Page Application</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <link rel="stylesheet" media="screen" type="text/css" href="/static/colorpicker/css/colorpicker.css" />
<style type="text/css">
body {
    padding: 10px;
}

#canvas-container {
    border-width: 5px;
    border-color: #222;
    border-style: solid;
    display: inline-block;
}

#canvas-main {
    border-width: 0;
    margin: 0;
}

.current-color {
    width: 80px;
    height: 50px;
    display: inline-block;
}

  </style>
</head>
<body>
  <div id="canvas-container">
    <canvas id="canvas-main" width="800" height="600"></canvas>
  </div>
  <div id="canvas-display">
  </div>
  <div>
    Width: <input id="painter-width" type="range" min="1" max="30" step="1" value="0" />
  </div>
  <div>
    <input id="painter-button-clear" type="button" value="Clear" />
  </div>
  <div id="painter-colorpicker-container">
  </div>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/jquery.ellocate.js"></script>
  <script src="/static/js/jquery.xpath.js"></script>
  <script type="text/javascript" src="/static/colorpicker/js/colorpicker.js"></script>
  
<script>
"use strict";

var defined = function(val) {
    return (val !== null && val !== undefined);
};

var checkKeys = function(args, mandatory_key_list) {
    $.each(mandatory_key_list, function(i, key) {
        if(!defined(args[key])) {
            throw(key + " parameter is mandatory");
        }
    });
};

// ** Reference Sites about HTML5 canvas painter
// ** http://ascii.jp/elem/000/000/513/513377/index-4.html
// ** http://wing.w-museum.com/201201251538.html

var CanvasPainter = (function() {
    var myclass = function(args) {
        // @params: args.canvas_selector, display_selector
        checkKeys(args, ["canvas_selector", "display_selector"]);
        this.canvas_selector = args.canvas_selector;
        this.display_selector = args.display_selector;
        this.cursor_x = 0;
        this.cursor_y = 0;
        this.enable_draw = false;
        this.color = [0,0,0];
        this.width = 1;
        this._initEventHandlers();
        this._updateDisplay();
    };
    myclass._rgbPercentString = function(r, g, b) {
        var percent_values = [];
        percent_values[0] = (r / 255.0) * 100 + "%";
        percent_values[1] = (g / 255.0) * 100 + "%";
        percent_values[2] = (b / 255.0) * 100 + "%";
        return "rgb("+ percent_values.join(",") +")";
    },
    myclass._rgbaString = function(r, g, b, a) {
        if(!defined(a)) {
            a = 1;
        }
        return "rgba(" + [r,g,b,a].join(",") + ")";
    };
    myclass._drawLine = function(args) {
        // @params: canvas_selector, start_x, start_y, end_x, end_y, color = [0,0,0], width = 1
        checkKeys(args, ["canvas_selector", "start_x", "start_y", "end_x", "end_y"]);
        if(!defined(args.color)) {
            args.color = [0,0,0];
        }
        if(!defined(args.width) || args.width <= 0) {
            args.width = 1;
        }
        var context = $(args.canvas_selector).get(0).getContext("2d");
        context.save();
        context.strokeStyle = myclass._rgbaString.apply(null, args.color);
        context.lineWidth = args.width;
        context.lineCap = "round";
        context.beginPath();
        context.moveTo(args.start_x, args.start_y);
        context.lineTo(args.end_x, args.end_y);
        context.stroke();
        context.closePath();
        context.restore();
    };
    myclass.prototype = {
        _getCanvasOffsetToWindow: function() {
            return $(this.canvas_selector).get(0).getBoundingClientRect();

            // ** getBoundingClientRect() may behave differently
            // ** across browsers. In that case, the following code
            // ** might be useful.
            
            // var offset_to_doc = $(this.selector).offset();
            // var $window = $(window);
            // return {
            //     left: offset_to_doc.left - $window.scrollLeft(),
            //     top: offset_to_doc.top - $window.scrollTop()
            // };
        },
        _getCanvasCoordinatesFromEvent: function(event) {
            var canvas_offset = this._getCanvasOffsetToWindow();

            // ** CAUTION: clientX and clientY are not so universal across all browsers!
            return {x: event.clientX - canvas_offset.left,
                    y: event.clientY - canvas_offset.top};
        },
        _initEventHandlers: function() {
            var self = this;
            var $canvas = $(self.canvas_selector);
            $canvas.on("mousemove", function(event) {
                var pos = self._getCanvasCoordinatesFromEvent(event);
                self._moveCursor(pos.x, pos.y);
            });
            $canvas.on("mousedown", function(event) {
                var pos = self._getCanvasCoordinatesFromEvent(event);
                self._moveCursor(pos.x, pos.y);
                self.enable_draw = true;
            });
            $canvas.on("mouseup", function() {
                self.enable_draw = false;
            });
            $canvas.on("mouseout", function() {
                self.enable_draw = false;
            });
        },
        _moveCursor: function(next_x, next_y) {
            // @params: options: color, width
            var self = this;
            if(self.enable_draw) {
                myclass._drawLine({
                    canvas_selector: self.canvas_selector,
                    start_x: self.cursor_x, start_y: self.cursor_y,
                    end_x: next_x, end_y: next_y,
                    color: self.color, width: self.width
                });
            }
            self.cursor_x = next_x;
            self.cursor_y = next_y;
        },
        setColor: function(r, g, b) {
            if(!r) r = 0;
            if(!g) g = 0;
            if(!b) b = 0;
            this.color = [r, g, b];
            this._updateDisplay();
        },
        setWidth: function(width) {
            if(!width || width <= 0) {
                width = 1;
            }
            this.width = width;
            this._updateDisplay();
        },
        _updateDisplay: function() {
            var self = this;
            var $display = $(self.display_selector);
            var $param_list = $("<ul></ul>");
            $("<li></li>").text("Width: " + self.width).appendTo($param_list);
            $("<li></li>")
                .text("Color: ")
                .append('<span class="current-color" style="background-color: '+ myclass._rgbPercentString.apply(myclass, self.color) +'"></span>')
                .appendTo($param_list);
            $display.empty();
            $display.append($param_list);
        },
        clear: function() {
            var self = this;
            var canvas = $(self.canvas_selector).get(0);
            var context = canvas.getContext("2d");
            context.clearRect(0, 0, canvas.width, canvas.height);
        },
    };

    return myclass;
})();

$(function() {
    var painter = new CanvasPainter({canvas_selector: "#canvas-main", display_selector: "#canvas-display"});

    var updateWidth = function() {
        painter.setWidth($("#painter-width").val());
    }
    $("#painter-width").on("change", updateWidth);
    updateWidth();

    $("#painter-button-clear").on("click", function() {
        painter.clear();
    });

    var setupColorPicker = function() {
        $("#painter-colorpicker-container").ColorPicker({
            flat: true, color: "000000", onSubmit: function(hsb, hex, rgb, el) {
                $("#painter-colorpicker-container").trigger("color-changed", [hsb, hex, rgb, el]);
            }
        });
    };

    setupColorPicker();
    $("#painter-colorpicker-container").on("color-changed", function(event, hsb, hex, rgb, el) {
        painter.setColor(rgb.r, rgb.g, rgb.b);
    });
});

</script>
</body>
</html>
